body {
	background-color: #F9F9F9; 
}

.vtc-container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.calendar-container {
  overflow-x: scroll;
  width: 100%;
}

.timesheet__heading-column,
.timesheet__column {
  flex-shrink :0;
}

.u-spacer {
  margin-bottom: 8px;
}

.navbar-default {
	color: #fff;
	background: #2071C5;	
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:hover
{
	color:  #fff;
}